body {
    margin: 0;
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
}

.text-primary {
    color: #cc6600 !important;
}

.bg-primary {
    background-color: #cc6600 !important;
}

.text-white {
    color: white;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}

#mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

#mainNav.navbar-scrolled .navbar-brand{
    color: black;
}

#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link{
    color: black;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #cc6600 !important;
}

#mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

header.masthead {
    height: 100vh;
    min-height: 40rem;
    
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../data/images/kyaking_sunset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1 {
    font-size: 3rem;
}

#job-and-school{
    font-size: 1.15rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    border-color: #cc6600;
    border-color: #cc6600 !important;
}

#profile-pic{
    min-width: 300px;
}

.btn-xl {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}

.btn-primary {
    color: #fff;
    background-color: #cc6600;
    border-color: #cc6600;
}

.page-section {
    padding: 8rem 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100rem;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

a {
    color: #cc6600;
    text-decoration: none;
    background-color: transparent;
}

.page-section {
    padding: 2rem 0;
}